:root {

	/* colors */
	--c-bg0: #1e1e1e;
	--c-bg1: #252526;
	--c-bg2: #333333;
	--c-text-light: #ccc;
	--c-text-dark: #1e1e1e;
	--c-primary: #d96941;
	--c-seconday: #38abf2;

	/* units */
	--u-roundness: 10px;
	--u-table-padding: 10px;
}

/* body */
body {
	background-color: var(--c-bg0);
	color: var(--c-text-light);
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: row;
	height: 100vh;
	overflow: hidden;
}
#sidebar {
	background-color: var(--c-bg1);
	width: 300px;
	display: flex;
	flex-direction: column;
}
#sidebar>* {
	padding: 15px 20px;
}
header, footer {
	flex-grow: 0;
}
header {
	background: var(--c-bg2);
	color: var(--c-primary);
}
#sidebar footer {
	font-size: 12px;
}
main {
	padding: 20px 50px;
}
main>* {
	max-width: 600px;
}
#sidebar nav,
main {
	overflow-y: scroll;
	flex-grow: 1;
	padding-bottom: 50vh;
}

/* scrollbar */
*::-webkit-scrollbar {
	width: 11px;
}
* {
	scrollbar-width: thin;
	scrollbar-color: var(--c-bg2) var(--c-no);
}
*::-webkit-scrollbar-track {
	background: var(--c-bg1);
}
*::-webkit-scrollbar-thumb {
	background-color: var(--c-bg2) ;
	border-radius: var(--u-roundness);
	border: 3px solid var(--c-bg1);
}

/* links */
a {
	color: var(--c-seconday);
	text-decoration: none;
}
a:hover {
	color: var(--c-primary);
}

/* code */
code {
	font-family: 'Fira Code Light', monospace;
	background-color: var(--c-bg2);
	color: var(--c-text-light);
	display: inline-block;
	padding: 0 5px;
	border-radius: var(--u-roundness);
}
pre code {
	padding: var(--u-table-padding);
}

/* lists */
/* TODO: fix for sections without sectionbody */
nav>.ulist>ul,
nav>.olist>ol,
main>.ulist>ul,
main>.olist>ol,
.sectionbody>.ulist>ul,
.sectionbody>.olist>ol {
	padding-inline-start: 0;
}
ul, ol {
	padding-inline-start: 20px;;
}
ul {
	list-style-type: disc;
}
li p {
	margin: 0;
}

/* roundness */
.admonitionblock, table.tableblock {
	border-radius: var(--u-roundness);
	overflow: hidden;
}

/* nav */
nav li {
	display: block;
	user-select: none;
}
nav li li {
	padding-left: 10px;
	margin-left: -10px;
	border-left: 1px solid var(--c-text-light);
}
nav li p:hover {
	color: var(--c-seconday);
}
nav li p:hover~.ulist>ul>li {
	border-color: var(--c-seconday);
}
nav li p {
	display: block;
}
nav li a {
	text-decoration: none;
	color: inherit;
}
.collapsed>.ulist>ul {
	display: none;
}
.collapsed p,
.expanded p {
	cursor: pointer;
}
.collapsed>p::before,
.expanded>p::before,
nav li a::before {
	font-family: 'Material Icons';
	display: inline-block;
	width: 20px;
}
nav li a::before {
	content: 'library_books'; /* consider: notes, note, library_books, attachment, drafts */
}
.collapsed>p::before {
	content: 'folder';
}
.expanded>p::before {
	content: 'folder_open';
}

/* tables */
table.tableblock {
	width: 100%;
	border-spacing: 0;
}
.tableblock td {
	padding: 0 var(--u-table-padding);
}
.tableblock th {
	padding: var(--u-table-padding);
}
.tableblock thead {
	background-color: var(--c-seconday);
	color: var(--c-text-dark);
}
.tableblock tbody tr:nth-child(odd) {
	background-color: var(--c-bg1);
}
.tableblock tbody tr:nth-child(even) {
	background-color: var(--c-bg2);
}
.tableblock .halign-right {
	text-align: right;
}
.tableblock .halign-left {
	text-align: left;
}
.tableblock .halign-center {
	text-align: center;
}

/* admonitions */
.admonitionblock {
	background-color: var(--c-bg2);
	margin: 10px 0;
}
.admonitionblock table {
	border-spacing: 0;
}
.admonitionblock .content {
	padding: var(--u-table-padding);
}
.admonitionblock tr {
	display: flex;
	flex-direction: row;
}
.admonitionblock td.icon {
	display: flex;
}
.admonitionblock td.icon i {
	flex-grow: 1;
	color: var(--c-text-dark);
	display: block;
	padding: var(--u-table-padding);
}

/* icon font */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
.icon {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	/*font-size: 24px;*/
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
.icon i {
	font-style: normal;
}
.icon-note,
.icon-tip,
.icon-important {
	background-color: var(--c-seconday);
}
.icon-note::after {
	content: 'info';
}
.icon-tip::after {
	content: 'emoji_objects';
}
.icon-important::after {
	content: 'priority_high';
}
.icon-caution,
.icon-warning {
	background-color: var(--c-primary);
}
.icon-caution::after {
	content: 'pan_tool';
}
.icon-warning::after {
	content: 'warning';
}
