/* imports */
/**NOTE: you can add media queries to imports*/
@import 'styles/_vars.css';
@import 'styles/admonitions.css';
@import 'styles/code-blocks.css';
@import 'styles/icon-font.css';
@import 'styles/images.css';
@import 'styles/links.css';
@import 'styles/lists.css';
@import 'styles/nav.css';
@import 'styles/scrollbars.css';
@import 'styles/tables.css';

/* primary structural elements */
body {
	background-color: var(--c-bg0);
	color: var(--c-text-light);
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: row;
	height: 100vh;
	overflow: hidden;
}
#sidebar {
	background-color: var(--c-bg1);
	width: 300px;
	display: flex;
	flex-direction: column;
}
#sidebar>* {
	padding: 15px 20px;
}
header, footer {
	flex-grow: 0;
}
header {
	background: var(--c-bg2);
	color: var(--c-primary);
}
#sidebar footer {
	font-size: 12px;
}
main {
	padding: 20px 50px;
}
main>* {
	max-width: 600px;
}
#sidebar nav,
main {
	overflow-y: scroll;
	flex-grow: 1;
	padding-bottom: 50vh;
}