/*TODO: fix for sections without sectionbody */
nav>.ulist>ul,
nav>.olist>ol,
main>.ulist>ul,
main>.olist>ol,
.sectionbody>.ulist>ul,
.sectionbody>.olist>ol {
	padding-inline-start: 0;
}

ul, ol {
	padding-inline-start: 20px;;
}

ul {
	list-style-type: disc;
}

li p {
	margin: 0;
}
